body {

}

h1,h2,h3 {
	font-family: sans-serif;
}

h1 {
	font-size: 350%
}

h2 {
	font-size: 220%
}
h2.user {
	display: run-in;
}
h3 {
	font-size: 125%;
	background-color: transparent;
}
p.lead {
	font-size: 180%
}

a {
	color: 	#B9C5C7;
}
a.link {
	color: #006161;
}
td.link {
	background-color: transparent;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}