{% extends "base_generic.html" %}
{% if perms.iface.can_see_users %}
{% block content %}
<br>
<h1>Delete User</h1>
<h3>
<p>Are you sure you want to delete user: {{ ruser.username }}?</p>

<form action="" method="POST">
  {% csrf_token %}
  <input type="submit" action="" value="Yes, delete." />
</form>
</h3>
{% endblock %}
{% endif %}