{% extends "base_generic.html" %}
{% if perms.iface.can_see_users %}
{% block content %}

<br>
<br>
<form action="" method="post">
	{% csrf_token %}
    <h3><table>
    {{ uform.as_table }}
    {{ iform.as_table }}
    </table></h3>
    <h6>Формат даты: ГГГГ-ММ-ДД</h6> 
    <h2><input type="submit" value="Submit" /></h2>
</form>
{% endblock %}
{% endif %}