{% extends "base_generic.html" %}
{% if perms.iface.can_see_users %}
{% block content %}

<br>
<br>
<form action="" method="post">
	{% csrf_token %}
    <h3><table>
    {{ uform.as_table }}
    {{ iform.as_table }}
    </table>
    <input type="submit" value="Submit" /></h3>
</form>
{% endblock %}
{% endif %}