<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="https://png.icons8.com/ios-glyphs/60/000000/wifi-lock.png">
  {% block title %}<title>Baltic Boats wifi administration</title>{% endblock %}
  
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D" crossorigin="anonymous"></script>
  <!-- Latest compiled and minified CSS -->
  <link href="Starter%20Template%20for%20Bootstrap_files/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="Starter%20Template%20for%20Bootstrap_files/starter-template.css" rel="stylesheet">
    <link href="Theme%20Template%20for%20Bootstrap_files/theme.css" rel="stylesheet">
  <!-- Добавление дополнительного статического CSS файла -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body role="document">

	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
           <a class="navbar-brand" href="{% url 'index' %}">Управление Wifi-сетью</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class=><a href="{% url 'index' %}">Статистика</a></li>
            <li><a href="{% url 'user_list' %}">Список пользователей</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout'%}?next={{request.path}}">Выйти</a></li>
            {% else %}
            <li><a href="{% url 'login'%}?next={{request.path}}">Войти</a></li>
            {% endif %}
            <li><a>{% if user.is_authenticated %} Пользователь: {{ user.get_username }} {% else %} {% endif %} </a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  <div class="container">
    <br>
    <div class="row">
        </div>
        <div class="col-md-12">
                    {% block content %}{% endblock %}
        </div>
        
    </div>

  </div>

        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    
    <script src="Starter%20Template%20for%20Bootstrap_files/jquery.js"></script>
    <script src="Starter%20Template%20for%20Bootstrap_files/bootstrap.js"></script>
</body>
</html>