{% extends "base_generic.html" %}
{% block content %}
{% load get_stats %}
<br>
<br>


<table class="table table-striped">
	<div class="page-header">
        <h1 align="center">Информация о FreeRADIUS сервере</h1>
    </div>
	<thead>
		<tr>
			<th colspan=2>
				<h2 align="center">Состояние сервиса FreeRADIUS</h2>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan=2>
				{% for i in radservice %}
				<h4>{{ i }}</h4>
				{% endfor %}
			</td>
		</tr>
	</tbody>
	<thead>
		<tr>
			<th>
				<h2 align="center">Версия FreeRADIUS</h2>
			</th>
			<th>
				<h2 align="center">Счетчики аутентификации</h2>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td width="50%">
				{% for i in radv %}
				<h4>{{ i }}</h4>
				{% endfor %}
			</td>
			<td>
				{% for i in radstat1 %}
				<h4>{{ i }}</h4>
				{% endfor %}
			</td>
		</tr>
	</tbody>
	<thead>
		<tr>
			<th>
				<h2 align="center">Статистика по прокси</h2>
			</th>
			<th>
				<h2 align="center">Счетчики учетных пакетов</h2>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				{% for i in radstat4 %}
				<h4>{{ i }}</h4>
				{% endfor %}
			</td>
			<td>
				{% for i in radstat2 %}
				<h4>{{ i }}</h4>
				{% endfor %}
			</td>
		</tr>
	</tbody>
</table>

{% endblock %}