{% extends "base_generic.html" %}
{% block content %}
{% if perms.iface.can_see_users %}

  <!--<div class="row-fluid">
    <div class="col-sm-3"><h2>Username</h2></div>
    <div class="col-sm-3"><h2>Password</h2></div>
    <div class="col-sm-3"><h2>Name</h2></div>
    <div class="col-sm-3"><h2>Subdivision</h2></div>

  </div>
  {% for ruser in object_list %}
  <div class="row-fluid">
    <div class="col-sm-3"><a>{{ ruser.user.username }}</a></div>
    <div class="col-sm-3"><a>{{ ruser.user.password }}</a></div>
    <div class="col-sm-3"><a>{{ ruser.name }} {{ ruser.surname }}</a></div>
    <div class="col-sm-3"><a>{{ ruser.subdivision }}</a></div>

  </div>
  {% endfor %}-->
 
  <table class="table table-striped">
    <div class="page-header" align="center">
        <h1>Список пользователей сети</h1>
        <p class="lead"><a href="{% url 'ruser_add' %}"><button type="button" class="btn btn-lg btn-default">[+] пользователь</button></a> </p> 
    </div>
    <!--<caption>
      <h1>Список пользователей сети</h1>
      <h2><a href="{% url 'ruser_add' %}">Добавить нового пользователя</a></h2>
    </caption>-->
      
      <thead>
          <tr>
              <th><h2>Username</h2><h3><a class="link" href="{% url 'indexus' %}"><button type="button" class="btn btn-xs btn-default">A-Z</button></a>  <a class="link" href="{% url 'indexusr' %}"><button type="button" class="btn btn-xs btn-default">Z-A</button></a></h3></th>
              <th valign="top"><h2 align="inherit">Password</h2><h3>&nbsp;</h3></th>
              <th><h2>Name</h2><h3><a class="link" href="{% url 'indexns' %}"><button type="button" class="btn btn-xs btn-default">A-Z</button></a>  <a class="link" href="{% url 'indexnsr' %}"><button type="button" class="btn btn-xs btn-default">Z-A</button></a></h3></th>
              <th><h2>Delete/Edit</h2><h3><a class="link" href="{% url 'index' %}"><button type="button" class="btn btn-xs btn-default">Сбросить сортировку</button></a></h3></th>
          </tr>
      </thead>
      <tbody>
        {% for ruser in object_list %}
        {% if ruser.user.username != None %}
          <tr>
            
              <td><a><h3>{{ ruser.user.username }}</h3></a></td>
              <td><h3>{{ ruser.user.password }}</h3></td>
              <td><h3>{{ ruser.name }} {{ ruser.surname }}</h3></td>
              <td class="link"><a href="{% url 'ruser_delete' ruser.user.id %}"><button type="button" class="btn btn-lg btn-default">Delete</button></a>  <!--|<a href="{% url 'ruserinfo_delete' ruser.id %}">Delete Info</a>--><a href="{% url 'ruser-edit' ruser.user.id %}"><button type="button" class="btn btn-lg btn-default">Edit</button></a></td>
            
          </tr>
        {% else %}
          <a href="{% url 'ruserinfo_delete' ruser.id %}">Удалить остаточную информацию о пользователях</a>
        {% endif %}
        {% endfor %}
      </tbody>
  </table>  
{% else %}
<br>
<br>
 <h1>AUTHORIZATION REQUIRED</h1>

{% endif %}
{% endblock %}